@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Shrikhand&display=swap");
body {
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: lighter;
}

.footer_logo, .main h1 {
  font-family: 'Shrikhand', cursive;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

main img {
  height: 200px;
  width: 100%;
}

main #operation, #restaurants {
  padding: 40px 30px;
}

figure, h1, h4, p {
  margin: 0;
}

/* Couleurs */
/* Mixin fondations */
/* Mixin header */
/* Mixin boutons */
/* Mixin coeurs */
/* Media queries */
@-webkit-keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    border-color: #9356dc #ff79da #99e2d0;
  }
  25% {
    border-color: #99e2d0 #9356dc #ff79da;
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.15);
            transform: rotate(360deg) scale(1.15);
    border-color: #ff79da #99e2d0 #9356dc;
  }
  75% {
    border-color: #9356dc #ff79da #99e2d0;
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
            transform: rotate(720deg) scale(1);
    border-color: #9356dc #ff79da #99e2d0;
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    border-color: #9356dc #ff79da #99e2d0;
  }
  25% {
    border-color: #99e2d0 #9356dc #ff79da;
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.15);
            transform: rotate(360deg) scale(1.15);
    border-color: #ff79da #99e2d0 #9356dc;
  }
  75% {
    border-color: #9356dc #ff79da #99e2d0;
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
            transform: rotate(720deg) scale(1);
    border-color: #9356dc #ff79da #99e2d0;
  }
}

@-webkit-keyframes icon {
  0% {
    color: #99e2d0;
  }
  25% {
    color: #ff79da;
  }
  50% {
    color: #9356dc;
  }
  75% {
    color: #99e2d0;
  }
  100% {
    color: #ff79da;
  }
}

@keyframes icon {
  0% {
    color: #99e2d0;
  }
  25% {
    color: #ff79da;
  }
  50% {
    color: #9356dc;
  }
  75% {
    color: #99e2d0;
  }
  100% {
    color: #ff79da;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  text-align: center;
  padding: 40px 20px 40px 20px;
}

.about h1, .about p {
  margin: 5px;
}

.footer {
  padding: 20px;
  background-color: #252525;
}

@media screen and (min-width: 630px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer_logo {
  color: white;
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

@media screen and (min-width: 630px) {
  .footer_container {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    padding-top: initial;
  }
}

.footer_container--lines {
  color: white;
  padding: 5px 0;
}

@media screen and (min-width: 630px) {
  .footer_container--lines {
    padding: 5px 10px;
  }
}

.footer_container--restaurant {
  padding-right: 10px;
}

.footer_container--partner {
  padding-right: 4px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.loader {
  background-color: whitesmoke;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: loader 3s linear forwards;
          animation: loader 3s linear forwards;
}

.loader_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 16px solid #99E2D0;
  height: 150px;
  width: 150px;
  border-top-color: #FF79DA;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  -webkit-animation: circle 3s linear forwards;
          animation: circle 3s linear forwards;
}

.loader_icon {
  font-size: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9356DC;
  -webkit-animation: icon 3s forwards;
          animation: icon 3s forwards;
  position: absolute;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  background-color: #e9e9e9;
  padding: 0 25px;
  -webkit-box-shadow: 0px 2px 5px #c4c3c3 inset;
          box-shadow: 0px 2px 5px #c4c3c3 inset;
}

.location--i {
  padding-bottom: 3px;
  padding-right: 20px;
}

.location--p {
  border: none;
  font-size: 20px;
  text-align: center;
  padding: 16px 20px 16px 0;
  font-weight: 400;
}

.main .main_img {
  width: 100%;
  height: 50vh;
}

.main .main_img--img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .main_container {
  background-color: whitesmoke;
  border-radius: 30px 30px 0 0;
  margin-top: -100px;
  position: relative;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Menu */
}

.main .main_container .main_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.main .main_container .main_header--heart {
  font-size: 30px;
}

.main .main_container .main_header--heart .heart_active {
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.main .main_container .main_header--heart .heart_inactive {
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.main .main_container .main_header--heart:hover .heart_active {
  opacity: 0;
  cursor: pointer;
}

.main .main_container .main_header--heart:hover .heart_inactive {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 630px) {
  .main .main_container .main_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.main .main_container .main_menu .meal .meal_header {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .main_container .main_menu .meal .meal_header--title {
  font-weight: lighter;
  margin: initial;
  margin-bottom: 1%;
}

.main .main_container .main_menu .meal .meal_header--line {
  border: 2px solid #99E2D0;
  width: 10%;
}

.main .main_container .main_menu .meal .meal_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin: 16px 0;
  padding: 10px;
  height: 40px;
  -webkit-transition: padding-right 200ms ease-in-out;
  transition: padding-right 200ms ease-in-out;
}

@media screen and (min-width: 1280px) {
  .main .main_container .main_menu .meal .meal_options {
    width: 350px;
  }
}

.main .main_container .main_menu .meal .meal_options:hover {
  padding-right: 75px;
}

@media screen and (min-width: 1280px) {
  .main .main_container .main_menu .meal .meal_options:hover {
    padding-right: 0px;
  }
}

.main .main_container .main_menu .meal .meal_options:hover .meal_options--btn {
  width: 60px;
  opacity: 1;
}

.main .main_container .main_menu .meal .meal_options:hover .fas {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

.main .main_container .main_menu .meal .meal_options--texte {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .main_container .main_menu .meal .meal_options--captions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main_container .main_menu .meal .meal_options--price {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (min-width: 1280px) {
  .main .main_container .main_menu .meal .meal_options--price {
    padding-right: 10px;
  }
}

.main .main_container .main_menu .meal .meal_options--btn {
  background-color: #99E2D0;
  color: white;
  width: 0;
  height: 60px;
  border-radius: 0 15px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 16px;
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
  font-size: 20px;
  opacity: 0;
}

@media screen and (min-width: 1280px) {
  .main .main_container .main_menu .meal .meal_options--btn {
    position: initial;
    right: initial;
  }
}

.main .main_container .main_menu .meal .meal_options--btn .fas {
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

.main .main_container .main_menu .starter {
  -webkit-animation: anim 1s ease-in-out;
          animation: anim 1s ease-in-out;
}

.main .main_container .main_menu .dishes {
  -webkit-animation: anim 3s ease-in-out;
          animation: anim 3s ease-in-out;
}

.main .main_container .main_menu .desserts {
  -webkit-animation: anim 5s ease-in-out;
          animation: anim 5s ease-in-out;
}

.operation {
  margin-top: 30px;
  padding: 16px 0 16px 16px;
}

.operation .operation_container {
  padding: initial;
  padding: 16px;
}

@media screen and (min-width: 630px) {
  .operation .operation_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.operation .operation_container .operation_steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  background-color: whitesmoke;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 5px 1px #e4e4e4;
          box-shadow: 0 5px 5px 1px #e4e4e4;
  padding: 16px 20px;
}

.operation .operation_container .operation_steps:hover {
  -webkit-box-shadow: 0 0px 10px 0px #727171;
          box-shadow: 0 0px 10px 0px #727171;
  opacity: 0.8;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.operation .operation_container .operation_steps--number {
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  padding: 5px 10px;
  margin-left: -40px;
}

.operation .operation_container .operation_steps--i {
  color: grey;
  font-size: larger;
  margin-left: 20px;
}

.operation .operation_container .operation_steps--text {
  margin-left: 20px;
}

@media screen and (min-width: 630px) {
  .operation .operation_container .operation_steps {
    margin: 0px 20px;
  }
}

.restaurants_container {
  background-color: whitesmoke;
  padding: 16px 16px 30px 16px;
}

@media screen and (min-width: 630px) {
  .restaurants_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.restaurants_container h1 {
  margin-top: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 630px) {
  .restaurants_container h1 {
    width: 100%;
  }
}

.restaurants_container .restaurants_cards {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 16px;
}

@media screen and (min-width: 630px) {
  .restaurants_container .restaurants_cards {
    width: 40%;
  }
}

.restaurants_container .restaurants_cards:hover {
  -webkit-box-shadow: 0 0px 10px 0px #727171;
          box-shadow: 0 0px 10px 0px #727171;
  opacity: 0.8;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.restaurants_container .restaurants_cards--new {
  position: absolute;
  left: 250px;
  background-color: #99E2D0;
  color: #0d8a68;
  padding: 7px 20px 7px 20px;
  margin-top: 10px;
  border-radius: 5px;
}

@media screen and (min-width: 630px) {
  .restaurants_container .restaurants_cards--new {
    left: initial;
  }
}

.restaurants_container .restaurants_cards--img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.restaurants_container .restaurants_cards--figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}

.restaurants_container .restaurants_cards--figcaption H4, .restaurants_container .restaurants_cards--figcaption p {
  margin: initial;
  padding-bottom: 5px;
}

.restaurants_container .restaurants_cards--figcaption .restaurants_cards--heart {
  font-size: 30px;
}

.restaurants_container .restaurants_cards--figcaption .restaurants_cards--heart .heart_active {
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.restaurants_container .restaurants_cards--figcaption .restaurants_cards--heart .heart_inactive {
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.restaurants_container .restaurants_cards--figcaption .restaurants_cards--heart:hover .heart_active {
  opacity: 0;
  cursor: pointer;
}

.restaurants_container .restaurants_cards--figcaption .restaurants_cards--heart:hover .heart_inactive {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  border: none;
  padding: 15px 40px;
  margin: 15px 0;
  border-radius: 100px;
  -webkit-box-shadow: 0px 1px 10px #c4c3c3 inset;
          box-shadow: 0px 1px 10px #c4c3c3 inset;
  color: white;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  opacity: 1;
}

.btn:hover {
  -webkit-box-shadow: 0 0px 10px 0px #727171;
          box-shadow: 0 0px 10px 0px #727171;
  opacity: 0.8;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.menu_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.menu_header--i {
  position: absolute;
  left: 20px;
}
/*# sourceMappingURL=main.css.map */