@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Shrikhand&display=swap");
body {
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: lighter;
}

.footer_logo, .main h1 {
  font-family: 'Shrikhand', cursive;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

main img {
  height: 200px;
  width: 100%;
}

main #operation, #restaurants {
  padding: 40px 30px;
}

figure, h1, h4, p {
  margin: 0;
}

/* Fondations */
/* Media queries */
/* Header */
/* Survols des boutons principaux */
.loader {
  -webkit-animation: loader 1s linear 3s forwards;
          animation: loader 1s linear 3s forwards;
}

.loader_circle {
  -webkit-animation: loader_circle 3s linear infinite;
          animation: loader_circle 3s linear infinite;
}

.loader_icon {
  -webkit-animation: loader_icon 3s linear infinite;
          animation: loader_icon 3s linear infinite;
}

.meals .starter {
  -webkit-animation: menu 1s ease-in-out;
          animation: menu 1s ease-in-out;
}

.meals .dishes {
  -webkit-animation: menu 3s ease-in-out;
          animation: menu 3s ease-in-out;
}

.meals .desserts {
  -webkit-animation: menu 5s ease-in-out;
          animation: menu 5s ease-in-out;
}

@-webkit-keyframes menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -9999;
    overflow: hidden;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -9999;
    overflow: hidden;
  }
}

@-webkit-keyframes loader_circle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    border-color: #9356dc #ff79da #99e2d0;
  }
  25% {
    border-color: #99e2d0 #9356dc #ff79da;
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.15);
            transform: rotate(360deg) scale(1.15);
    border-color: #ff79da #99e2d0 #9356dc;
  }
  75% {
    border-color: #9356dc #ff79da #99e2d0;
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
            transform: rotate(720deg) scale(1);
    border-color: #9356dc #ff79da #99e2d0;
  }
}

@keyframes loader_circle {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    border-color: #9356dc #ff79da #99e2d0;
  }
  25% {
    border-color: #99e2d0 #9356dc #ff79da;
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.15);
            transform: rotate(360deg) scale(1.15);
    border-color: #ff79da #99e2d0 #9356dc;
  }
  75% {
    border-color: #9356dc #ff79da #99e2d0;
  }
  100% {
    -webkit-transform: rotate(720deg) scale(1);
            transform: rotate(720deg) scale(1);
    border-color: #9356dc #ff79da #99e2d0;
  }
}

@-webkit-keyframes loader_icon {
  0% {
    color: #99e2d0;
  }
  25% {
    color: #ff79da;
  }
  50% {
    color: #9356dc;
  }
  75% {
    color: #99e2d0;
  }
  100% {
    color: #ff79da;
  }
}

@keyframes loader_icon {
  0% {
    color: #99e2d0;
  }
  25% {
    color: #ff79da;
  }
  50% {
    color: #9356dc;
  }
  75% {
    color: #99e2d0;
  }
  100% {
    color: #ff79da;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  text-align: center;
  padding: 40px 20px 40px 20px;
}

.about h1, .about p {
  margin: 5px;
}

.footer {
  padding: 20px;
  background-color: #252525;
}

@media screen and (min-width: 630px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer_logo {
  color: white;
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

@media screen and (min-width: 630px) {
  .footer_container {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    padding-top: initial;
  }
}

.footer_container--lines {
  color: white;
  padding: 5px 0;
}

@media screen and (min-width: 630px) {
  .footer_container--lines {
    padding: 5px 10px;
  }
}

.footer_container--restaurant {
  padding-right: 10px;
}

.footer_container--partner {
  padding-right: 4px;
}

.header_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.header_menu_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
}

.header_menu_pages--arrow {
  position: absolute;
  left: 20px;
}

.loader {
  background-color: whitesmoke;
  padding: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
}

.loader_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 16px solid #99E2D0;
  height: 150px;
  width: 150px;
  border-top-color: #FF79DA;
  border-bottom-color: #9356DC;
  border-radius: 50%;
}

.loader_icon {
  font-size: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9356DC;
  position: absolute;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  background-color: #e9e9e9;
  padding: 0 25px;
  -webkit-box-shadow: 0px 2px 5px #c4c3c3 inset;
          box-shadow: 0px 2px 5px #c4c3c3 inset;
}

.location--i {
  padding-bottom: 3px;
  padding-right: 20px;
}

.location--p {
  border: none;
  font-size: 20px;
  text-align: center;
  padding: 16px 20px 16px 0;
  font-weight: 400;
}

.menu_meals_container {
  background-color: whitesmoke;
  border-radius: 30px 30px 0 0;
  margin-top: -100px;
  position: relative;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu_meals_container .menu_meals_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  margin: 10px 0 30px 0;
}

@media screen and (min-width: 1280px) {
  .menu_meals_container .meals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.main_menu_pages .menu_pages_img {
  width: 100%;
  height: 50vh;
}

.main_menu_pages .menu_pages_img--img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.operation {
  margin-top: 30px;
  padding: 16px 0 16px 16px;
}

.operation .operation_container {
  padding: initial;
  padding: 16px;
}

@media screen and (min-width: 630px) {
  .operation .operation_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.restaurants_container {
  background-color: whitesmoke;
  padding: 16px 16px 30px 16px;
}

@media screen and (min-width: 630px) {
  .restaurants_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.restaurants_container h1 {
  margin-top: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 630px) {
  .restaurants_container h1 {
    width: 100%;
  }
}

.heart {
  font-size: 30px;
}

.heart .heart_active {
  opacity: 1;
  margin-top: 1.5px;
  position: absolute;
  -webkit-transition: all 350ms cubic-bezier(0.26, 0.95, 0.5, 1) 0ms;
  transition: all 350ms cubic-bezier(0.26, 0.95, 0.5, 1) 0ms;
}

.heart .heart_inactive {
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.heart:hover .heart_active {
  opacity: 0;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.heart:hover .heart_inactive {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.meal_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin: 16px 0;
  padding: 10px;
  height: 40px;
  -webkit-transition: padding-right 200ms ease-in-out;
  transition: padding-right 200ms ease-in-out;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 1280px) {
  .meal_options {
    width: 350px;
  }
}

.meal_options:hover {
  padding-right: 75px;
}

@media screen and (min-width: 1280px) {
  .meal_options:hover {
    padding-right: 0px;
  }
}

.meal_options:hover .meal_options--circle {
  width: 60px;
  opacity: 1;
}

.meal_options:hover .fas {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

.meal_options--text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meal_options--text p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.meal_options--captions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meal_options--price {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (min-width: 1280px) {
  .meal_options--price {
    padding-right: 10px;
  }
}

.meal_options--circle {
  background-color: #99E2D0;
  color: white;
  width: 0;
  height: 60px;
  border-radius: 0 15px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 16px;
  -webkit-transition: width 200ms ease-in-out;
  transition: width 200ms ease-in-out;
  font-size: 20px;
  opacity: 0;
}

@media screen and (min-width: 1280px) {
  .meal_options--circle {
    position: initial;
    right: initial;
  }
}

.meal_options--circle .fas {
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

.meal_titles {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.meal_titles--title {
  font-weight: lighter;
  margin: initial;
}

.meal_titles--line {
  border: 2px solid #99E2D0;
  width: 10%;
}

.operation_steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
  background-color: whitesmoke;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 5px 1px #e4e4e4;
          box-shadow: 0 5px 5px 1px #e4e4e4;
  padding: 16px 20px;
}

.operation_steps:hover {
  -webkit-box-shadow: 0 0px 10px 0px #727171;
          box-shadow: 0 0px 10px 0px #727171;
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.operation_steps--number {
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  padding: 5px 10px;
  margin-left: -40px;
}

.operation_steps--i {
  color: grey;
  font-size: larger;
  margin-left: 20px;
}

.operation_steps--text {
  margin-left: 20px;
}

@media screen and (min-width: 630px) {
  .operation_steps {
    margin: 0px 20px;
  }
}

.btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  border: none;
  padding: 15px 40px;
  margin: 15px 0;
  border-radius: 100px;
  -webkit-box-shadow: 0px 1px 10px #c4c3c3 inset;
          box-shadow: 0px 1px 10px #c4c3c3 inset;
  color: white;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  opacity: 1;
}

.btn:hover {
  -webkit-box-shadow: 0 0px 10px 0px #727171;
          box-shadow: 0 0px 10px 0px #727171;
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.restaurants_cards {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 16px;
}

@media screen and (min-width: 630px) {
  .restaurants_cards {
    width: 40%;
  }
}

.restaurants_cards:hover {
  -webkit-box-shadow: 0 0px 10px 0px #727171;
          box-shadow: 0 0px 10px 0px #727171;
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.restaurants_cards--new {
  position: absolute;
  left: 250px;
  background-color: #99E2D0;
  color: #0d8a68;
  padding: 7px 20px 7px 20px;
  margin-top: 10px;
  border-radius: 5px;
}

@media screen and (min-width: 630px) {
  .restaurants_cards--new {
    left: initial;
  }
}

.restaurants_cards--img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.restaurants_cards--figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}

.restaurants_cards--figcaption H4, .restaurants_cards--figcaption p {
  margin: initial;
  padding-bottom: 5px;
}
/*# sourceMappingURL=main.css.map */