.btn
{
    @include btn;
    &:hover
    {
        box-shadow: 0 0px 5px 5px $omf_shadow-end;
        opacity: 0.8;
        transition: transform 400ms; /* j'ai l'impression qu'il n'y a aucune diff*/
        transform: scale(1.15);
    }
}