.heart
{
    font-size: 30px; 
    .heart_active
    {
        opacity: 1;
        margin-top: 1.5px;
        position: absolute;
        transition: all 350ms cubic-bezier(.26,.95,.5,1) 0ms;
    }
    .heart_inactive
    {
        opacity: 0;
        transition: opacity 100ms ease-in-out; 
    }
    &:hover .heart_active
    {
        opacity: 0;
        cursor: pointer; 
        background:linear-gradient($secondary_color, $primary_color);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 2;
    }
    &:hover .heart_inactive
    {
        opacity: 1;
        background:linear-gradient($secondary_color, $primary_color);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
