.meal_titles 
{
    justify-content: flex-start;
    flex-direction: column;
    &--title
    {
        font-weight: lighter;
        margin:initial;
    }
    &--line
    {
        border: 2px solid $tertiary_color;
        width: 10%;
    }
}