.btn_container
{
    @include flex-center;
}

.btn
{
    border:none;
    padding: 15px 40px;
    margin: 15px 0;
    border-radius: 100px;
    box-shadow: 0px 1px 10px $box-shadow_start inset;
    color: white;
    font-size: 16px;
    background: linear-gradient($secondary_color, $primary_color);
    cursor: pointer;
    opacity: 1;
    &:hover
    {
        @include btnhover;
    }
}
