.loader
{
    animation: loader 1s linear 3s forwards;
    &_circle
    {
        animation: loader_circle 3s linear infinite;  
    }
    &_icon 
    {
        animation: loader_icon 3s linear infinite;
    }
}

.meals
{
    .starter
    {
        animation: menu 1s ease-in-out;
    }
    .dishes
    {
        animation: menu 3s ease-in-out;
    }
    .desserts
    {
        animation: menu 5s ease-in-out;
    }
}