.meal
{
    .starter
    {
        animation: anim 1s ease-in-out;
    }
    .dishes
    {
        animation: anim 3s ease-in-out;
    }
    .desserts
    {
        animation: anim 5s ease-in-out;
    }
}