.loader
{
    animation: loader 1s linear 3s forwards;
    &_circle
    {
        animation: loader_circle 3s linear infinite;  
    }
    &_icon 
    {
        animation: loader_icon 3s linear infinite;
    }
}

.meals
{
    .starter
    {
        animation: menu 1s ease-in-out;
    }
    .dishes
    {
        animation: menu 3s ease-in-out;
    }
    .desserts
    {
        animation: menu 5s ease-in-out;
    }

/* J'ai ajouté des animation avec la @Keyframes plats pour faire apparaitre chaque plats progressivement avec un effet en 3d */

    .delay1
    {
        animation: plats 600ms ease-in-out;
    }
    .delay2
    {
        animation: plats 800ms ease-in-out;
    }
    .delay3
    {
        animation: plats 1s ease-in-out;
    }
    .delay4
    {
        animation: plats 1s ease-in-out;
    }
    .delay5
    {
        animation: plats 2s ease-in-out;
    }
    .delay6
    {
        animation: plats 3s ease-in-out;
    }
    .delay7
    {
        animation: plats 3s ease-in-out;
    }
    .delay8
    {
        animation: plats 4s ease-in-out;
    }
    .delay9
    {
        animation: plats 5s ease-in-out;
    }
    .delay10
    {
        animation: plats 6s ease-in-out;
    }
}
