@keyframes menu {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
  

@keyframes loader_circle {
  0%{
    transform: rotate(0deg) scale(1);
    border-color: #9356dc #ff79da #99e2d0;
  }
  25%{
    border-color: #99e2d0 #9356dc #ff79da ;
  }
  50%{
    transform: rotate(360deg) scale(1.15);
    border-color: #ff79da #99e2d0 #9356dc;
  }
  75%{
    border-color: #9356dc #ff79da #99e2d0;
  }
  100%{
    transform: rotate(720deg) scale(1);
    border-color: #9356dc #ff79da #99e2d0;
  }
}

@keyframes loader_icon
{
  0%{
    color: #99e2d0;
  }
  25%{
    color: #ff79da;
  }
  50% {
    color: #9356dc; 
  }
  75%{
    color: #99e2d0;
  }
  100%{
    color: #ff79da;
  }
}
