@mixin btn
 {
     border:none;
     padding: 15px 0 15px 0;
     border-radius: 100px;
     box-shadow: 0px 2px 10px $omf_shadow inset;
     color: white;
     font-size: 16px;
     background: linear-gradient($omf_pink, $omf_violet);
     margin: 16px 50px;
}