/* Fondations */

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;  
}

@mixin margin0 {
    margin: initial;
}

@mixin padding_sections {
    padding: 0 16px;
}

/* Media queries */

@mixin tablet_dekstop {
    @media screen and (min-width: 630px) { @content; }
}

@mixin dekstop {
    @media screen and (min-width: 1280px) { @content; }
}

/* Header */

@mixin header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Survols des boutons principaux */

@mixin btnhover {
    box-shadow: 0 0px 10px 0px $box-shadow_end;
    opacity: 0.7;
    transition: .3s;
    cursor: pointer;
}
