/* Mixin fondations */

@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;  
}

@mixin margin0 {
    margin: initial; /* tous les H et p */
}

/* Mixin boutons */

@mixin btn {
    border:none;
    padding: 15px 0 15px 0;
    border-radius: 100px;
    box-shadow: 0px 1px 10px $omf_shadow-start inset;
    color: white;
    font-size: 16px;
    background: linear-gradient($omf_pink, $omf_purple);
    margin: 16px 50px; 
    cursor: pointer;
    transition: all 400ms; /* ne fonctionne pas */
}

@mixin icon_heart {
    font-size: 30px;
}

