$primary_color:#9356DC;
$secondary_color:#FF79DA;
$tertiary_color:#99E2D0;
$new_text:#0d8a68;
$box-shadow_start:rgb(196, 195, 195);
$box-shadow_end:rgb(114, 113, 113);
$background-color_map:rgb(233, 233, 233);
$background-color_footer:#252525;



