.footer
{
    padding: 20px;
    background-color: $omf_footer;
    &_logo
    {
        color: white;
    }
    &_container
    {
        @include flex-column;
        padding-top: 10px;
        &--lines
        {
            color: white;
            padding: 5px 0 ; 
        }
        &--restaurant
        {
            padding-right: 10px;
        }
        &--partner
        {
            padding-right: 4px;
        }
    }
}