.loader
{
  @include backcolor;
  display: none;
  opacity: 1;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: loader 3s linear forwards;
  &_circle
  {
    @include flex-center;
    border: 16px solid $omf_green;
    height: 150px;
    width: 150px;
    border-top-color: $omf_pink;
    border-bottom-color: $omf_purple;
    border-radius: 50%;
    animation: circle 3s linear forwards;  
  }
  &_icon 
  {
    font-size: 5em;
    @include flex-center;
    color: $omf_purple;
    animation: icon 3s linear forwards;
    position:absolute;
  }
}
  
 