.loader_container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
  }
  
.loader_container--circle
  {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 16px solid $omf_green;
    height: 150px;
    width: 150px;
    border-top-color: $omf_pink ;
    border-bottom-color: $omf_purple;
    border-radius: 50%;
    animation: circle 4s linear infinite;
  }
  
  .loader_container--icon {
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $omf_purple;
    animation: color 7.5s infinite ease-in-out;
    position:absolute;
  }
  
  
  @keyframes circle
   {
    0%{
      transform: rotate(0deg) scale(1);
      border-color: $omf_purple $omf_pink $omf_green;
    }
    25%{
      border-color: $omf_green $omf_purple $omf_pink;
    }
    50% {
      transform: rotate(360deg) scale(1.15);
      border-color: $omf_pink $omf_green $omf_purple; 
    }
    75%{
      border-color: $omf_purple $omf_pink $omf_green;
    }
    100%{
      transform: rotate(720deg) scale(1);
      border-color: $omf_green $omf_purple $omf_pink;
    }
  }
  
  @keyframes color
   {
    0%{
      color: $omf_green;
    }
    25%{
      color: $omf_pink;
    }
    50% {
      color: $omf_purple; 
    }
    75%{
      color: $omf_green;
    }
    100%{
      color: $omf_pink;
    }
  }
  