.main
{
    .main_img
    {
        width: 100%;
        height: 50vh;
        &--img
        {
            width: 100%;
            height: 80%;
            object-fit: cover;
        }
    }
    .main_container 
    {
        @include backcolor; 
        border-radius: 30px 30px 0 0;
        margin-top: -100px;
        position: relative;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .main_header
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 10px;
            &--heart
            {
                @include heart_container;
                .heart_active
                {
                    @include heart_active;
                }
                .heart_inactive
                {
                    @include heart_inactive;
                }
                &:hover .heart_active
                {
                    @include heart_active--hover;
                }
                &:hover .heart_inactive
                {
                    @include heart_inactive--hover;
                }
            }
        }

        /* Menu */
        
        .main_menu
        {
            @include tablet_dekstop
            {
                display: flex;
                justify-content: space-around;
            }
            .meal
            {
                .meal_header
                {
                    justify-content: flex-start;
                    flex-direction: column;
                    &--title
                    {
                        font-weight: lighter;
                        margin:initial;
                        margin-bottom: 1%;
                    }
                    &--line
                    {
                        border: 2px solid $omf_green;
                        width: 10%;
                    }
                }
                .meal_options
                {
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    border-radius: 15px;
                    margin: 16px 0;
                    padding: 10px;
                    height: 40px;
                    transition: padding-right 200ms ease-in-out;
                    @include dekstop
                    {
                        width: 350px;
                    }
                    &:hover
                    {
                        padding-right: 75px; 
                        @include dekstop
                        {
                            padding-right: 0px ;
                        }
                    }
                    &:hover .meal_options--btn
                    {
                        width: 60px;
                        opacity: 1;
                    }
                    &:hover .fas
                    {
                        transform: rotate(0turn);
                    }
                    &--texte
                    {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    &--captions
                    {
                        display: flex;
                        align-items: center;
                    }
                    &--price
                    {
                        align-self: flex-end;
                        @include dekstop
                        {
                            padding-right: 10px;
                        }
                    }
                    &--btn
                    {
                        background-color: $omf_green;
                        color: white;
                        width: 0;
                        height: 60px;
                        border-radius: 0 15px 15px 0;
                        @include flex-center;
                        position:absolute;
                        right: 16px;
                        transition: width 200ms ease-in-out;
                        font-size: 20px;
                        opacity: 0;
                        @include dekstop
                        {
                            position:initial;
                            right: initial;
                        }
                        .fas
                        {
                            transform: rotate(-1turn);
                            transition: transform 350ms ease-in-out;
                        }
                    }
                }  
            }
            .starter
            {
                animation: anim 1s ease-in-out;
            }
            .dishes
            {
                 animation: anim 3s ease-in-out;
            }
            .desserts
            {
                 animation: anim 5s ease-in-out;
            }
        }
    }
}