.main
{
    .main_img
    {
        width: 100%;
        height: 50vh;
        &--img
        {
            width: 100%;
            height: 80%;
            object-fit: cover;
        }
    }
    .main_container 
    {
        background-color: whitesmoke;
        border-radius: 30px 30px 0 0;
        margin-top: -100px;
        position: relative;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .main_header
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 10px;
            &--heart
            {
                font-size: 30px;
                .heart_inactive
                {
                    opacity: 0;
                    transition: opacity 100ms ease-in-out; 
                }
                .heart_active
                {
                    opacity: 1;
                    position: absolute;
                    transition: opacity 100ms ease-in-out; 
                    
                }
                &:hover .heart_active
                {
                    opacity: 0;
                    cursor: pointer; 
                }
                &:hover .heart_inactive
                {
                    opacity: 1;
                    background:linear-gradient($omf_pink, $omf_purple);
                    background-clip: border-box;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }

        /* Menu */
        
        .main_menu
        {
            .meal
            {
                .meal_header
                {
                    justify-content: flex-start;
                    flex-direction: column;
                    &--title
                    {
                        font-weight: lighter;
                        margin:initial;
                        margin-bottom: 1%;
                    }
                    &--line
                    {
                        border: 2px solid $omf_green;
                        width: 10%;
                    }
                }
                .meal_options
                {
                    display: flex;
                    justify-content: space-between;/* est-ce necessaire d'ajouter un align-items ?*/
                    background-color: white;
                    border-radius: 15px;
                    margin: 16px 0;
                    padding: 10px;
                    height: 40px;
                    transition: padding-right 200ms ease-in-out;
                    &:hover
                    {
                        padding-right: 75px; 
                    }
                    &:hover .meal_options--btn
                    {
                        width: 60px;
                        opacity: 1;
                    }
                    &:hover .fas
                    {
                        transform: rotate(0turn);
                    }
                    &--title, &--text
                    {
                        /* pk je n'arrive pas a align-self:flex-end ?*/
                    }
                    &--captions
                    {
                        display: flex;
                        align-items: center;
                    }
                    &--price
                    {
                        align-self: flex-end;
                    }
                    &--btn
                    {
                        background-color: $omf_green;
                        color: white;
                        width: 0;
                        height: 60px;
                        border-radius: 0 15px 15px 0;
                        @include flex-center;
                        position:absolute;
                        right: 16px;
                        transition: width 200ms ease-in-out;
                        font-size: 20px;
                        opacity: 0;
                        .fas
                        {
                            transform: rotate(-1turn);
                            transition: transform 350ms ease-in-out;
                        }
                    }
                }  
            }
            .starter
            {
                animation: anim 1s ease-in-out;
            }
            .dishes
            {
                 animation: anim 3s ease-in-out;
            }
            .desserts
            {
                 animation: anim 5s ease-in-out;
            }
        }
    }
}