.menu_meals_container
{
    background-color: whitesmoke;
    border-radius: 30px 30px 0 0;
    margin-top: -100px;
    position: relative;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .menu_meals_title
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        margin: 10px 0 30px 0;
    }
    .meal_container
    {
        @include dekstop
        {
            display: flex;
            justify-content: space-around;
        }
    }
}

.meal_titles /* deplacer dans components */
{
    justify-content: flex-start;
    flex-direction: column;
    &--title
    {
        font-weight: lighter;
        margin:initial;
    }
    &--line
    {
        border: 2px solid $omf_green;
        width: 10%;
    }
}

.meal_options /* deplacer dans components */
{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    margin: 16px 0;
    padding: 10px;
    height: 40px;
    transition: padding-right 200ms ease-in-out;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include dekstop
    {
        width: 350px;
    }
    &:hover
    {
        padding-right: 75px; 
        @include dekstop
        {
            padding-right: 0px ;
        }
    }
    &:hover &--circle
    {
        width: 60px;
        opacity: 1;
    }
    &:hover .fas
    {
        transform: rotate(0turn);
    }
    &--text{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        p
        {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &--captions
    {
        display: flex;
        align-items: center;
    }
    &--price
    {
        align-self: flex-end;
        @include dekstop
        {
            padding-right: 10px;
        }
    }
    &--circle
    {
        background-color: $omf_green;
        color: white;
        width: 0;
        height: 60px;
        border-radius: 0 15px 15px 0;
        @include flex-center;
        position:absolute;
        right: 16px;
        transition: width 200ms ease-in-out;
        font-size: 20px;
        opacity: 0;
        @include dekstop
        {
            position:initial;
            right: initial;
        }
        .fas
        {
            transform: rotate(-1turn);
            transition: transform 350ms ease-in-out;
        }
    }
}  
            