.restaurants_container
{
    background-color: whitesmoke;
    padding: 16px 16px 30px 16px;
    @include tablet_dekstop{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    h1
    {
        margin-top: 16px;
        margin-bottom: 20px;
        @include tablet_dekstop{
            width: 100%;
        }
    }
}